/* 

COLORS 
	
	
FONTS
		

STANDARDS
			

	
*/


@font-face {
    font-family: 'BellGothicStdBold';
    src: url('bellgothicstd-bold.eot');
    src: url('bellgothicstd-bold.eot') format('embedded-opentype'),
         url('bellgothicstd-bold.woff') format('woff'),
         url('bellgothicstd-bold.ttf') format('truetype'),
         url('bellgothicstd-bold.svg#BellGothicStdBold') format('svg');
}

@font-face {
    font-family: 'PFDinTextProThin';
    src: url('pfdintextpro-thin.eot');
    src: url('pfdintextpro-thin.eot') format('embedded-opentype'),
         url('pfdintextpro-thin.woff') format('woff'),
         url('pfdintextpro-thin.ttf') format('truetype'),
         url('pfdintextpro-thin.svg#PFDinTextProThin') format('svg');
}




/* COMMON 
-------------------------------------------------------------- */
body{background: #fff; color: #777;font-family: 'Source Sans Pro', sans-serif; font-weight: 400;}


a{color: #777; text-decoration: none;}
a:hover{color: #ccc;}
a.active,
li a.active{color: #ccc}
.image a{line-height: 0; display: block;}

p{font-size: 12px; line-height: 16px; font-weight: normal;}

ul, li, .item-list ul{margin: 0; padding: 0;}

h1, h2, h3, h4{font-weight: normal;}

h2{font-size: 12px; font-weight: 400; }
h3{font-size: 11px;}

/* HEADER
-------------------------------------------------------------- */
#main-header{padding: 40px; text-transform: uppercase; font-weight: 400;}
#logo{font-size: 15px; letter-spacing: .5px; float: left;}

#block-menu-menu-protfolios,
#block-menu-menu-projects,
#block-menu-menu-other{float: left; margin-left: 30px;}
#block-menu-menu-protfolios li,
#block-menu-menu-projects li,
#block-menu-menu-other li{list-style: none; font-size: 10px;}
#block-menu-menu-protfolios li a,
#block-menu-menu-projects li a,
#block-menu-menu-other li a{display: block;}

div#backstretch{
background-size: auto auto !important;
}

/* MAIN
-------------------------------------------------------------- */
#container{width: 100%; margin: 0; z-index: 1; }
#container-inner{padding: 0 40px 40px;}


/* GALLERY
-------------------------------------------------------------- */
.gallery-full{}
.gallery-full .images li,
.gallery-full .thumbs li{margin: 0;}

/* .gallery-full{height: 100%;} */

.gallery-full .images .item-list ul li{margin: 0; padding: 0; position: absolute; top: 0; left: 0; text-align: left; width: 100%; display: block; display: none; cursor: pointer;}
.gallery-full .images .item-list ul li#image-0{display: block;}
.gallery-full .images .item-list ul li img{max-width: 100%; max-height: 100%;}
.gallery-full .images .item-list ul li.linked img{ max-height: 100%;/*  max-width: 49%;margin-right: 1%; */}

.gallery-full .thumbs{position: absolute; top: 0; left: 0; max-width: 900px; display: none;}
.gallery-full .thumbs li{float: left; line-height: 0; cursor: pointer;}
.gallery-full .thumbs li:hover{opacity: .8;}

#controls{text-align: left; font-size: 10px; text-transform: uppercase;}
/* #controls div{display: inline-block; } */
#item-count{}
#last-item{padding-right: 10px;}
#next-item{padding-left: 10px}
#last-item,
#next-item{cursor: pointer;}
#last-item:hover,
#next-item:hover{color: #333;}
#caption{padding-left: 30px;}
#thumb-open{margin-top: 10px;}


/* VIDEO
-------------------------------------------------------------- */
.view-videos{width: 340px;}
.view-videos td{padding: 0 20px 20px 0; vertical-align: top;}
.view-videos h2,
.video-full h2{text-transform: uppercase;}

#video-block{float: left; margin-right: 40px;}
.video-full{width: 640px; float: left;}

.video-teaser{width: 150px; margin: 0 20px 20px 0; float: left; min-height: 150px;}
.video-teaser img{width: 100%; height: auto;}

/* CONTACT
-------------------------------------------------------------- */
#contacts{width: 220px; float: left;margin-right: 60px;} 
#bio,
#clients{width: 330px; float: left; margin-right: 60px;}
#bio h2,
#contacts h2,
#clients h2{text-transform: uppercase; padding-top: 30px; font-weight: bold;}
#bio .images{margin-top: 20px;}
#bio .images li{width: 330px; height: 230px; position: absolute; top: 0; left: 0; margin: 0; cursor: pointer; display: none;}
#bio .images #image-0{display: block;}
#clients{position: absolute; top: 0; left: 0; display: none;}
#clients td{padding-right: 30px;}
#show-clients,
#hide-clients{font-size: 12px; font-weight: bold;}


.page-node-42{
	background: url(../images/vacancy-promo.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-node-42 #main-header{
	display: none;
}

.page-node-42 #promo h1{
	font-family: 'PFDinTextProThin';
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 50px;
	letter-spacing: .5px;
}

#promo{
	margin: 40px 0;
	color: #fffbfb;
	width: 400px;
	text-transform: uppercase;	
	font-family: 'BellGothicStdBold';
}

#promo a{
	color: #fffbfb;
}

#promo p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 1px;
}

#promo .enter-btn{
	margin-top: 100px;
}

.bg-image{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

#image-loader{display: none;}





